name: Swagger API Validation - apidom

on: 
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose environment to deploy to [dev,stg or prd].'     
        required: true
        default: 'dev'
      
jobs:
  check_format:
    runs-on: ubuntu-latest
    name: Validate API Gateway OpenAPI Spec Files.
    steps:
      - name: Checkout
        uses: actions/checkout@v2

        uses: char0n/apidom-validate@v1
        with:
          definition-file: './terraform/overwatch/dev/templates/dev-api.json'