name: Swagger API Validation - apidom

on: 
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose environment to deploy to [dev,stg or prd].'     
        required: true
        default: 'dev'
      
jobs:
  check_format:
    runs-on: ubuntu-latest
    name: Validate API Gateway OpenAPI Spec Files.
    steps:

      - name: Get changed files in the docs folder
        id: changed-files-specific
        uses: tj-actions/changed-files@v35
        with:
          files: 'test/**'  # Alternatively using: `docs/**` or `docs`

      - name: Run step if any file(s) in the docs folder change
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        # outputs:
        #   matrix: ${{ steps.set-matrix.outputs.matrix }}
        run: |
          echo "One or more files in the docs folder has changed."
          echo "${{ steps.changed-files-specific.outputs.all_changed_files }}"

      - name: swagger/openapi apidom spec validation.
        uses: char0n/apidom-validate@v1
        with:
          definition-file: ${{ fromJSON(steps.changed-files-specific.outputs.all_changed_files) }}